body {
  background: #e8d426 !important;
  font-family: 'Muli', sans-serif;
}
h1 {
  color: #fff;
  padding-bottom: 2rem;
  font-weight: bold;
}
a {
  color: #333;
}
a:hover {
  color: #e8d426;
  text-decoration: none;
}
.form-control:focus {
  color: #000;
  background-color: #fff;
  border: 2px solid #e8d426;
  outline: 0;
  box-shadow: none;
}

.btn {
  background: #e8d426;
  border: #e8d426;
}
.btn:hover {
  background: #e8d426;
  border: #e8d426;
}
